<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Hospital Ratings</title>
  </head>
  <body>
    <div class="container-fluid p-5">
      <div class="win-sm">
        <h1>Hospital Ratings</h1>
      </div>
      <div class="win-sm d-sm-flex mb-4">
        <input
          type="text"
          name="q"
          class="form-control"
          placeholder="Cari rumah sakit..."
        />
        <button class="btn btn-primary" id="search">Cari</button>
      </div>

	  <h5>Apply filter:</h5>
	  <div class="win-sm d-sm-flex mb-4">
		  <form name="filter" method="GET" action="{% url 'index' %}">
			<div class="form-row align-items-center">
			  <div class="col-auto my-1">

				<label class="mr-sm-2" for="inlineFormCustomSelect">State</label>
				<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
				  <option selected>Choose...</option>
				  {% for state in states %}
					<option value="{{ state }}">{{ state }}</option>
				  {% endfor %}
				</select>
			  </div>

			  <div class="col-auto my-1">
				<label class="mr-sm-2" for="inlineFormCustomSelect">City</label>
				<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
				  <option selected>Choose...</option>
				  {% for city in cities %}
					<option value="{{ city }}">{{ city }}</option>
				  {% endfor %}
				</select>
			  </div>
			  
			  <!-- Add other fields -->

			  <div class="col-auto my-1">
				<button type="submit" class="btn btn-primary">Submit</button>
			  </div>
			</div>
		  </form>
	  </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
