<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

    <title>Infographics</title>
  </head>
  <body>
    <div class="container-fluid p-5">
      <div class="win-sm">
        <h1>Infographics</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <canvas id="untrackedHospitals"></canvas>
          <script>
            const hospitasctx = document.getElementById("untrackedHospitals");
            const hospitals = new Chart(hospitasctx, {
              type: "pie",
              data: {
                labels: ['Untracked in Kaggle Database', 'Tracked in Kaggle Database'],
                datasets: [
                  {
                    data: [{{ untrackedHospitals }}, {{ trackedHospitals }}],
                    backgroundColor: [
                      "rgba(255, 99, 132, 1)",
                      "rgba(54, 162, 235, 1)"
                    ],
                    borderColor: [
                      "rgba(255, 99, 132, 1)",
                      "rgba(54, 162, 235, 1)",
                    ],
                    borderWidth: 1,
                  },
                ],
              },
              options: {
                  plugins: {
                      title: {
                          display: true,
                          text: 'Hospitals in Kaggle Database vs DBpedia Database'
                      }
                  }
              },
            });
          </script>
        </div>
      </div>
      <div class="row justify-content-center">
        <canvas id="patient_experience_bar" width="600" height="200"></canvas>
        <script>
          const experienceCanvas = document.getElementById('patient_experience_bar')
          const experienceChart = new Chart(experienceCanvas, {
              type: 'bar',
              data: {
                  labels: [{% for i in experienceLabel %} '{{ i }}', {% endfor %}],
                  datasets: [{
                      label: "# of Hospitals",
                      data: [{% for i in experienceCount %} '{{ i }}', {% endfor %}],
                      backgroundColor: [
                          'rgba(54, 162, 235, 1)',
                      ],
                  }],
              },
              options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'USA Hospital\'s Patient Experience Rating'
                    }
                }
            },
          })
        </script>
      </div>
      <div class="row justify-content-center">
        <canvas id="overall_ratings_bar" width="600" height="200"></canvas>
        <script>
          const ratingsCanvas = document.getElementById('overall_ratings_bar')
          const ratingsChart = new Chart(ratingsCanvas, {
              type: 'bar',
              data: {
                  labels: [{% for i in ratingsLabel %} '{{i}}', {% endfor %}],
                  datasets: [{
                      label: "# of Hospitals",
                      data: [{% for i in ratingsCount %} '{{i}}', {% endfor %}],
                      backgroundColor: [
                          'rgba(255, 206, 86, 1)',
                      ],
                  }],
              },
              options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'USA Hospital\'s Overall Ratings'
                    }
                }
            },
          })
        </script>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <canvas id="er_count_pie"></canvas>
          <script>
            const ctx = document.getElementById("er_count_pie");
            const myChart = new Chart(ctx, {
              type: "pie",
              data: {
                labels: ['Yes', 'No'],
                datasets: [
                  {
                    data: [{{ hospitalWithEr }},{{ hospitalWithNoEr }}],
                    backgroundColor: [
                      "rgba(255, 99, 132, 1)",
                      "rgba(54, 162, 235, 1)"
                    ],
                    borderColor: [
                      "rgba(255, 99, 132, 1)",
                      "rgba(54, 162, 235, 1)",
                    ],
                    borderWidth: 1,
                  },
                ],
              },
              options: {
                  plugins: {
                      title: {
                          display: true,
                          text: 'Number of Hospitals with Emergency Services'
                      }
                  }
              },
            });
          </script>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
